p{
    font-size: 40px;
}
.ventana
{
  background: rgb(247, 88, 30);
    margin: 0;
  width: 50%;
  color:rgb(239, 231, 231);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 200%;
  text-align: center;
  text-decoration: none;
  padding: 33px;
  min-height: 250px;
  border-radius: 20px;
  position: absolute;
  left: 34%;
  top: 35%;
  display: none;
  align-items: center;

}
button{
    background-color: rgb(222, 151, 9);
    border-radius: 20px;
    border-style: none;
    width: 100%;
    font-size: 100%;
    color: antiquewhite;
    }